* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: var(--dark, #21243D);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
}
.header-list {
    float: right;
    margin-right: 60px;
}
header {
    height: 148px;
}
.header-list li {
    float: left;
    padding-top: 27px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
}
.header-list li span {
    color: var(--primary, #FF6464);
}
main {
    margin: 0px 236px 0px 235px ;
}
main h1 {
    width: 506px;
    font-size: 34px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 30px;
}
.flex-list {
    display: flex;
}
.li1 {
    font-size: 18px;
    font-weight: 900;
    background-color: #FF7C7C;
    border-radius: 16px;
    color: #FFF;
    padding: 5px 10px;
    margin-right: 27px;
}
.li2 {
    padding: 10px 0px;
}
main p {
    margin: 23px 0px;
    width: 670px;
    line-height: 30px;
}
main img {
    margin-bottom: 27px;
}
main h2 {
    margin-top: 27px;
    margin-bottom: 27px;
}
main h3 {
    margin-bottom: 27px;
}

footer {
    text-align: center;
    margin: 104px 0px 54px;
}

.footer-top img {
    padding: 0px 17.5px;
}
.footer-bottom {
    padding-top: 26px;
}