@media(max-width:670px) {
    body {
        width: 375px;
    }

    main {
        padding: 0px 18px;
    }

    main h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 60px;
    }
    main h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
    }
    .li-a {
        font-size: 16px;
    }
    .li-b {
        font-size: 16px;
        padding-top: 8px;
    }
    .flex-list-right {
        margin-bottom: 25px;
    }
    .flex-list li p {
        width: 325px;
    }
    .flex-list {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .flex-list li img {
        width: 339px;
        height: 230px;
        margin-bottom: 17px;
    }
    .section-title {
        width: 339px;
    }
}